h1, h2, h3, h4, h5, h6 {
    border-bottom: unset;
}

.post-description {
    font-style: italic;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.list-post-desc {
    line-height: 1.8;
    font-style: italic;
}